:root {
    font-family: 'Fira Code';
    --mint: #afeeee;
    --grey: #282828;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--mint);
    color: var(--grey);
    margin: 0;
}

.resume {
    height: 100vh;
    width: 90vw;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    margin: 0;
    padding-left: 0;
    width: 100%;
}

.dropdown-content li {
    list-style: none;
    border: solid black 2px;
    padding: 0.25rem;
}

.dropdown-content li a {
    color: var(--grey);
    text-decoration: none;
    font-size: 1rem;
    transition: font-size 0.3s;
}

.dropdown-content li a:hover {
    font-size: 1.2rem;
}

.hamburger-nav {
    margin: 1rem;
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background-color: var(--grey);
    width: 2rem;
    height: 5px;
    margin: 3px;
    border-radius: 5px;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    font-weight: bolder;
    font-size: larger;
    width: 100vw;
    justify-content: space-between;
    align-content: center;
    background-color: #fff;
    box-shadow: 0px 7px var(--grey);
}

.main-nav {
    display: flex;
}

.nav-item {
    margin: 1rem;
    cursor: pointer;
}
.nav-item a {
    text-decoration: none;
    color: var(--grey);
}

.nav-item a::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--grey);
    transform: scaleX(0);
    transition: transform 0.3s;
}

.nav-item a:hover::after {
    transform: scaleX(1);
}

.content-container {
    margin: 5rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

#hero-text {
    margin: 2rem;
    text-align: center;
    text-shadow: 1px 1px 1px;
}

img {
    border-radius: 10px;
    height: 70%;
    box-shadow: 7px 7px #fff;
    margin: 0 auto;
}

footer {
    background-color: #fff;
    margin-top: 5rem;
    padding: 2px;
    text-align: center;
    font-size: smaller;
    font-weight: bold;
    bottom: 0;
}

#contact-form {
    max-width: 400px;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 7px 7px var(--grey);
}

.input-group {
    margin-bottom: 20px;
}

label {
    font-size: 1.1rem;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input,
textarea {
    padding: 8px;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    border: 1px solid #aaa;
    box-sizing: border-box;
    font-family: Arial;
}

input:invalid {
    background-color: salmon;
}

textarea.invalid {
    background-color: salmon;
}

.required {
    color: salmon;
}

textarea {
    min-height: 70px;
    min-width: 100%;
}

.portfolio-button {
    text-decoration: none;
}

.portfolio-button button {
    display: block;
    margin: auto;
    font-size: 1.1rem;
    font-weight: bolder;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
    box-shadow: 3px 3px var(--grey);
    cursor: pointer;
    transition: font-size 100ms;
}

.portfolio-button button:hover {
    font-size: larger;
}

.project-card {
    background-color: var(--grey);
    color: #fff;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    transition-property: color, background-color;
    transition-duration: 0.5s;
}

.project-card:hover {
    color: var(--grey);
    background-color: #fff;
}

.project-link {
    text-decoration: none;
}

.submit-button {
    display: block;
    margin: auto;
    font-size: 1.1rem;
    background-color: var(--mint);
    border-radius: 10px;
    padding: 10px 25px;
    box-shadow: 3px 3px var(--grey);
    cursor: pointer;
    transition: font-size 100ms;
}

.submit-button:hover {
    font-size: larger;
}

.form-error {
    font-size: 90%;
    color: white;
    background-color: salmon;
}

.form-error.active {
    margin-top: 0.3rem;
    padding: 0.3em;
    border-radius: 10px;
}

.sent-message {
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}

.sent-message.failure {
    color: salmon;
}

@media (max-width: 550px) {
    .navbar {
        background: transparent;
        box-shadow: none;
        flex-direction: column;
    }

    .main-nav {
        flex-direction: column;
        background-color: #fff;
        width: 12rem;
        display: none;
    }

    .dropdown-menu {
        background-color: #fff;
        width: 12rem;
        display: none;
    }

    .dropdown-content {
        width: 12rem;
    }

    .nav-item {
        display: flex;
    }

    .hamburger-nav {
        display: flex;
    }

    .content-container {
        margin: 3rem;
    }
}
