:root {
    font-family: Arial;
    --mint: #afeeee;
    --grey: #282828;
}

body {
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    background-color: var(--mint); 
    color: var(--grey);
}

.navbar {
    display: flex; 
    justify-content: center; 
    font-weight: bolder; 
    font-size: larger; 
    margin-bottom: 1rem;   
}

.nav-item {
    margin: 1rem;
}
.nav-item a {
    text-decoration: none; 
    color: #fff;
}

.content-container {
    display: grid; 
    justify-content: center; 
    align-items: center;
}

#hero-text {
    text-align: center; 
    text-shadow: 1px 1px 1px;
}

img {
    border-radius: 10px; 
    height: 70%; 
    box-shadow: 7px 7px #fff; 
    margin: 0 auto;
}

footer {
    background-color: #fff; 
    margin-top: 3rem; 
    padding: 2px; 
    text-align: center;
    font-size: smaller; 
    font-weight: bold;
}

#contact-form {
    max-width: 400px;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 7px 7px var(--grey);
}

.input-group {
    margin-bottom: 20px;
}

label {
    font-size: 1.1rem;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea {
    padding: 8px;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    border: 1px solid #AAA;
    box-sizing: border-box;
    font-family: Arial;
}

input:invalid {
    background-color: salmon;
}

textarea.invalid {
    background-color: salmon;
}

.required {
    color: salmon;
}


textarea {
    min-height: 70px;
    min-width: 100%;
}

.submit-button {
    display: block;
    margin: auto;
    font-size: 1.1rem;
    background-color: var(--mint);
    border-radius: 10px;
    padding: 10px 25px;
    box-shadow: 3px 3px var(--grey);
    cursor: pointer;
    transition: font-size 100ms;
}

.submit-button:hover {
    font-size: larger;
}

.form-error {
    font-size: 90%;
    color: white;
    background-color: salmon;
}

.form-error.active {
    margin-top: 0.3rem;
    padding: 0.3em;
    border-radius: 10px;
}

.sent-message {
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}

.sent-message.failure {
    color: salmon;
}
